.block-core-team,
.block-extended-team {
  .member {
    margin-bottom: 3rem;
  }

  img {
    margin-bottom: 2rem;
    width: 100%;
  }

  h5 {
    margin-bottom: 0;
  }

  .social a {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 0.5rem;
  }

  blockquote {
    margin-top: 4rem;
  }
}
