/**
Typography
 */

body {
  font-family: $body-font-family;
  color: theme-color("dark");
  overflow-x: hidden;
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 30px;
}

h1,
.h1 {
  font-size: 3.75rem;
  letter-spacing: 0;
  font-family: $playfair$playfair;

  .light & {
    color: theme-color('white');
  }

  &.four-oh-four {
    font-size: 15vw;
  }
}

h2,
.h2 {
  font-size: 2.625rem;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: $oswald;

  .light & {
    color: theme-color('white');
  }
}

h3,
.h3 {
  font-size: 2.25rem;
  letter-spacing: 0;
  text-transform: uppercase;

  .light & {
    color: theme-color('white');
  }
}

h4,
.h4 {
  font-size: 2.25rem;
  letter-spacing: 0;
  font-family: $playfair$playfair;

  .light & {
    color: theme-color('white');
  }
}

h5,
.h5 {
  font-size: 1.5rem;
  letter-spacing: 0;

  .light & {
    color: theme-color('white');
  }
}

h6,
.h6 {
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 32px;
  font-family: $playfair$playfair;

  .light & {
    color: theme-color('white');
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;

  &.large {
    font-size: 1.375rem;
  }

  .light & {
    color: theme-color('white');
  }
}


.main ul {
  list-style: none;

  > li {
    text-indent: -1.5rem;

    &::before {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      background-image: url(../../images/plus-primary.png);
      position: relative;
      left: -1rem;
      top: 1rem;
    }
  }
}

a:hover {
  text-decoration: none;
}

.btn {
  line-height: 1;
}

.btn-outline {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0.77rem 3.33rem;

  &:hover,
  &:active,
  &:focus {
    color: theme-color('light');
  }
}

.btn-outline-dark {
  @extend .btn-outline;

  border-color: theme-color('dark');
  color: theme-color('dark');

  &:hover,
  &:active,
  &:focus {
    background-color: theme-color('dark');
  }
}

.btn-outline-light,
.btn-outline-primary {
  @extend .btn-outline;

  border-color: theme-color('white');
  color: theme-color('white');

  &:hover,
  &:active,
  &:focus {
    background-color: theme-color('primary');
    color: theme-color('light');
  }
}

.text-link {
  font-size: 1.22rem;
  color: theme-color('dark');

  &::after {
    content: "";
    display: inline-block;
    width:26px;
    height: 16px;
    background-image: url(../../images/arrow-primary.png);
    margin-left: 1rem;
    position: relative;
    top: 2px;
  }

  .light & {
    color: theme-color('white');
  }
}

blockquote,
blockquote p {
  font-size: 1.75rem;
  letter-spacing: 0;
  line-height: 2.11rem;
  font-style: italic;
  font-family: $playfair$playfair;

  + cite {
    margin-top: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: theme-color('primary');
  }
}

section {
  padding: $section-padding;
  position: relative;

  &.bg-video {
    overflow: hidden;
  }
}

table {
  width: 100%;
  margin: 2em 0;

  th {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.5em;
  }

  th[colspan='2'] {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    background: transparentize(theme-color("dark"), 0.8);
  }

  tr:nth-child(even) {
    background-color: theme-color('light');
  }

  thead {
    border-bottom: 1px solid theme-color('blue');

    th {
      color: theme-color('brand');
    }
  }

  td {
    border-left: 1px solid theme-color('dark');
    padding: 0.5em;
  }
}

hr {
  max-width: 50rem;
}
