/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";



$playfair: 'Playfair Display', serif;
$oswald: 'Oswald', sans-serif;

$theme-colors: (
  primary: #b69a62,
  secondary: #f9f9f9,
  dark: #19171d,
);

$white: #fff;

//Set Background Colors
@each $label, $color in $theme-colors {
  .bg-#{$label} {
    background-color: $color;
    transition: all 200ms ease-in-out;
  }
}

//Collapse padding when like colors are next to each other
@each $label, $color in $theme-colors {
  section.bg-#{$label} + section.bg-#{$label} {
    padding-top: 0;
  }
}

// slick arrows
@mixin slick-arrows($size, $color) {
  .slick-next,
  .slick-prev {
    height: $size;
    width: $size;
    border-right: 2px solid $color;
    border-bottom: 2px solid $color;
    transform: rotate(-45deg);
    border-radius: 0;

    &::before {
      content: '';
    }
  }

  .slick-next {
    right: -40px;
  }

  .slick-prev {
    transform: rotate(135deg);
    left: -40px;
  }
}

// navbar
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

//Heading and Body fonts
$headings-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$body-font-family: "Open Sans", Helvetica, Arial, sans-serif;

// Global
$enable-rounded: false;

//Section
$section-padding: 3em 0;

//Card
$card-border: 1px solid gray;

//Footer
$footer-bg: #222;
$footer-base-bg: #000;
